[alias]
    br = branch
    df = diff -w
    st = status
    co = checkout
    cb = "!sh -c 'git stash && git checkout $1 && git stash pop' -"
    cm = "!sh -c 'git commit -m \"$1\"' -"
    rs = reset
    rb = reset --soft HEAD^
    ps = ! git push origin `git branch --contains=HEAD | awk '{print $2}'`
    gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    stt = status -uno
    dfs = diff --staged -w
    dfw = diff --word-diff
    brgc = branch-gc
    ac = ai-commit
    ace = ai-commit -e
    acen = ai-commit -e --lang en
    acjp = ai-commit --lang jp
    acejp = ai-commit --lang jp -e
    down = download
    branch-gc = ! git branch --merged | egrep -v '(^\\*|master|main|dev)' | xargs git branch -d
    branch-delete-both = "!sh -c 'git push origin :$1 ; git branch -D $1' -"
    upstream = "!sh -c 'git branch --set-upstream-to=origin/$1 $1' -"
    download = "!sh -c 'git checkout -b $1 origin/$1' -"
    empty-commit = commit --allow-empty
    archive-log = "!sh -c 'git log -p --all --full-history -- $1' -"
    ai-commit-jp = ai-commit --lang jp
    create-pull-request = ! gh pr create --base $(git remote show origin | grep 'HEAD branch' | awk '{print $NF}') -w
    recreate-pull-request = ! recreate-pull-request
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[core]
    editor = nvim
    autocrlf = input
    pager = "less -FRX"
[include]
    path = ~/.gitconfig.local
